.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  margin: auto;
  padding: 0 1rem 0 1rem;
  min-height: 100vh;
  max-width: 300px;
}

.content {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "header"
    "display"
    "panel";
}

.panel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
  grid-template-areas:
    "numbers operators"
    "numbers editors";
}

.numbers {
  grid-area: numbers;
}

.operators {
  grid-area: operators;
}

.editors {
  grid-area: editors;
}

footer {
  flex-shrink: 1;
}
